* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
}

h2 {
  font-size: 1.6rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

p {
  color: $text-color;
}

.container {
  background-color: $white;
  border-radius: 1rem;
  padding: 2rem;
}

.button {
  background: none;
  border-radius: 0.3rem;
  border: none;
  cursor: pointer;
  padding: 1rem;
  transition: 0.3s;

  &--purple {
    background-color: $purple;
    color: $white;
    font-size: 1.1rem;
    font-weight: 900;
    padding: 1rem 2rem;
    text-transform: uppercase;

    &:hover {
      background-color: darken($purple, 30%);
      transition: 0.3s;
    }
  }

  &--grey {
    background: $white-bg;
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 0.5rem;
    padding: 0.9rem;

    &:hover {
      background-color: $black;
      color: $white;
      transition: 0.3s;
    }
  }

  &--selected {
    background-color: $black;
    color: $white;
  }

  &--plain {
    font-size: 1.6rem;
    font-weight: 900;
    min-width: 3rem;

    &:hover {
      background-color: darken($white, 20%);
      transition: 0.3s;
    }
  }

  &--large {
    padding: 1.5rem;
  }
}
