@import '@/scss/_buttons.scss';
@import '@/scss/_typo.scss';

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $black;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
}

.container {
  background-color: $white;
  border-radius: 0.8rem;
  padding: 2rem;
}
